<h1>Editing Movie</h1>

<%= render 'form', movie: @movie %>

<button type="button" class="btn btn-show btn-lg active"><%= link_to 'Show', @movie %> |</button>
<button type="button" class="btn btn-default btn-lg active"><%= link_to 'Back', movies_path %></button>

